@model BookEditViewModel
@{
    string title = ViewBag.Title + " Book";
    ViewData["Title"] = title;
}


<h2>@ViewData["Title"]</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Book.Title" class="col-sm-3">Title</label>
        <input asp-for="Book.Title" class="form-control col-sm-7" />
        <span asp-validation-for="Book.Title" class="text-danger col-sm-2"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Book.AuthorId" class="col-sm-3">Author</label>
        <select asp-for="Book.AuthorId"
                asp-items="@(new SelectList(Model.Authors,
                        "AuthorId", "Name"))"
                class="form-control col-sm-7">
            <option value="-1">Select an author...</option>
        </select>&nbsp;
        <a class="btn btn-primary" asp-controller="Author" asp-action="Edit">Add New Author</a>
        <span asp-validation-for="Book.AuthorId" class="text-danger col-sm-2"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Book.SeriesId" class="col-sm-3">Series</label>
        <select asp-for="Book.SeriesId"
                asp-items="@(new SelectList(Model.Series,
                        "SeriesId", "Name"))"
                class="form-control col-sm-3">
            <option value="">No Series</option>
        </select>
        <label asp-for="Book.SeriesNum" class="col-sm-2">Number in Series</label>
        <input type="number" asp-for="Book.SeriesNum" class="form-control col-sm-2" />&nbsp;
        <a class="btn btn-primary" asp-controller="Series" asp-action="Edit">Add New Series</a>
    </div>
    <div class="form-group row">
        <label asp-for="Book.GenreId" class="col-sm-3">Genre</label>
        <select asp-for="Book.GenreId"
                asp-items="@(new SelectList(Model.Genres,
                        "GenreId", "Name"))"
                class="form-control col-sm-7">
            <option value="">Select a genre...</option>
        </select>
        <span asp-validation-for="Book.GenreId" class="text-danger col-sm-2"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Book.ReleaseDate" class="col-sm-3">Release Date</label>
        <input type="date" asp-for="Book.ReleaseDate" class="form-control col-sm-7" />
        <span asp-validation-for="Book.ReleaseDate" class="text-danger col-sm-2"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Book.Bookshelf" class="col-sm-3">Bookshelf</label>
        <select asp-for="Book.Bookshelf" class="form-control col-sm-3">
            <option value="0">Reading</option>
            <option value="1">Read</option>
            <option value="2">To Be Read</option>
        </select>
    </div>
    <div class="form-group row">
        <label asp-for="Book.Favorite" class="col-sm-3">Favorite</label>
        <input type="checkbox" asp-for="Book.Favorite" />
    </div>
    <input type="hidden" asp-for="Book.BookId" />
    <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
    <a asp-controller="Book" asp-action="List" class="btn btn-primary">Cancel</a>
</form>